/*
Errno::ENOENT: No such file or directory @ rb_sysopen - /public/main.scss

Backtrace:
/home/sebastien/Documents/schatell.io/vendor/bundle/ruby/2.3.0/gems/sass-3.5.3/lib/sass/plugin/compiler.rb:454:in `read'
/home/sebastien/Documents/schatell.io/vendor/bundle/ruby/2.3.0/gems/sass-3.5.3/lib/sass/plugin/compiler.rb:454:in `update_stylesheet'
/home/sebastien/Documents/schatell.io/vendor/bundle/ruby/2.3.0/gems/sass-3.5.3/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/home/sebastien/Documents/schatell.io/vendor/bundle/ruby/2.3.0/gems/sass-3.5.3/lib/sass/plugin/compiler.rb:209:in `each'
/home/sebastien/Documents/schatell.io/vendor/bundle/ruby/2.3.0/gems/sass-3.5.3/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/home/sebastien/Documents/schatell.io/vendor/bundle/ruby/2.3.0/gems/sass-3.5.3/lib/sass/plugin/compiler.rb:294:in `watch'
/home/sebastien/Documents/schatell.io/vendor/bundle/ruby/2.3.0/gems/sass-3.5.3/lib/sass/plugin.rb:109:in `method_missing'
/home/sebastien/Documents/schatell.io/vendor/bundle/ruby/2.3.0/gems/sass-3.5.3/lib/sass/exec/sass_scss.rb:360:in `watch_or_update'
/home/sebastien/Documents/schatell.io/vendor/bundle/ruby/2.3.0/gems/sass-3.5.3/lib/sass/exec/sass_scss.rb:51:in `process_result'
/home/sebastien/Documents/schatell.io/vendor/bundle/ruby/2.3.0/gems/sass-3.5.3/lib/sass/exec/base.rb:52:in `parse'
/home/sebastien/Documents/schatell.io/vendor/bundle/ruby/2.3.0/gems/sass-3.5.3/lib/sass/exec/base.rb:19:in `parse!'
/home/sebastien/Documents/schatell.io/vendor/bundle/ruby/2.3.0/gems/sass-3.5.3/bin/sass:13:in `<top (required)>'
/home/sebastien/.rvm/gems/ruby-2.3.3/bin/sass:22:in `load'
/home/sebastien/.rvm/gems/ruby-2.3.3/bin/sass:22:in `<main>'
/home/sebastien/.rvm/gems/ruby-2.3.3/bin/ruby_executable_hooks:15:in `eval'
/home/sebastien/.rvm/gems/ruby-2.3.3/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Errno::ENOENT: No such file or directory @ rb_sysopen - /public/main.scss"; }
