<!DOCTYPE html>

<html>

  <head>
    <meta charset="utf-8">
    <title>Band Website</title>
    <link href="https://fonts.googleapis.com/css?family=Bitter|Montserrat:600" rel="stylesheet">
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="band.css">
  </head>

  <body>

    <div class="hero">
      <section class="logo">
        <h1>Awesome Band</h1>
      </section>
    </div>

    <div class="tour">
      <h2>Catch us on tour</h2>

      <section class="tour-info">

        <ul class="list-header">
          <li>Date</li>
          <li>City</li>
          <li>Venue</li>
        </ul>
        <ul>
          <li>20-08-2018</li>
          <li>Toronto, ON, Canada</li>
          <li>Phoenix Theater</li>
        </ul>
        <ul>
          <li>23-08-2018</li>
          <li>Kingston, ON, Canada</li>
          <li>Leon Center</li>
        </ul>
        <ul>
          <li>24-08-2018</li>
          <li>Ottawa, ON, Canada</li>
          <li>Capital Music Hall</li>
        </ul>
        <ul>
          <li>26-08-2018</li>
          <li>Montreal, QC, Canada</li>
          <li>Club Soda</li>
        </ul>
        <ul>
          <li>28-08-2018</li>
          <li>Trois-Rivieres, QC, Canada</li>
          <li>Le Temple</li>
        </ul>
        <ul>
          <li>29-08-2018</li>
          <li>Quebec, QC, Canada</li>
          <li>L'Anti Bar</li>
        </ul>
      </section>

    </div>

    <div class="bio">
      <section class="member">
        <div class="portrait"></div>
        <h3 class="name">Mr. Lorem</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
           eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
           ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
           aliquip ex ea commodo consequat.</p>
      </section>

      <section class="member">
        <div class="portrait"></div>
        <h3 class="name">Mrs. Ipsum</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
           eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
           ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
           aliquip ex ea commodo consequat.</p>
      </section>

      <section class="member">
        <div class="portrait"></div>
        <h3 class="name">Mr. Sit Amet</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
           eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
           ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
           aliquip ex ea commodo consequat.</p>
      </section>


      <section class="history">
      </section>
    </div>

    <footer></footer>

  </body>

</html>
