<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>Travel</title>
    <link href="https://fonts.googleapis.com/css?family=Anton|Lora:400i,700" rel="stylesheet">
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="travel/travel.css">
  </head>

  <body>

    <nav class="menu">
      <a href="#">Tour</a>
      <a href="#">Eat</a>
      <a href="#">Shop</a>
    </nav>

    <section class="text-box">
      <div class="arrow-left"></div>
      <div class="arrow-right"></div>
      <p id="text0">Iceland is a Nordic island country in the North Atlantic, with a
         population of 348,580 and an area of 103,000 km2 (40,000 sq mi),
         making it the most sparsely populated country in Europe. The capital
         and largest city is Reykjavík. Reykjavík and the surrounding areas in
         the southwest of the country are home to over two-thirds of the
         population.
       </p>

       <p id="text1">Icelandic culture is founded upon the nation's Scandinavian heritage.
          Most Icelanders are descendants of Norse and Gaelic settlers.
          Icelandic, a North Germanic language, is descended from Old West
          Norse and is closely related to Faroese and West Norwegian dialects.
          The country's cultural heritage includes traditional Icelandic cuisine
          , Icelandic literature, and medieval sagas. Iceland has the smallest
          population of any NATO member and is the only one with no standing
          army, with a lightly armed coast guard in charge of defence.
        </p>

        <p id="text2">Icelandic culture has its roots in North Germanic
           traditions. Icelandic literature is popular, in particular the sagas
           and eddas that were written during the High and Late Middle Ages.
           Centuries of isolation have helped to insulate the country's Nordic
           culture from external influence; a prominent example is the
           preservation of the Icelandic language, which remains the closest to
           Old Norse of all modern Nordic languages.
          </p>

        <p id="text3">The erupting Geysir in Haukadalur valley, the oldest known
           geyser in the world Gullfoss, an iconic waterfall of Iceland. A
           geologically young land, Iceland is located on both the Iceland
           hotspot and the Mid-Atlantic Ridge, which runs right through it. This
           location means that the island is highly geologically active with
           many volcanoes, notably Hekla, Eldgjá, Herðubreið, and Eldfell.
       <div class="indicators">
         <div id="rect0" class="rect"></div>
         <div id="rect1" class="rect"></div>
         <div id="rect2" class="rect"></div>
         <div id="rect3" class="rect"></div>
       </div>
    </section>

    <h2>Explore</h2>

    <h1>Iceland</h1>

  </body>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="travel/javascript.js"></script>


</html>
