/* Variables */
$pale: #ccd9e6;
$pale2: #c6e0ff;
$pale3: #a0ccff;
$dark: #336699;
$dark2: #3988A8;
$dark3: #3A94AA;
$text-color: rgb(58, 61, 63);
$header-height: 10vh;

/* Mixin */
@mixin gradient($color1, $color2, $color3, $orientation1, $orientation2) {
  background: $color1;
  background: -moz-linear-gradient($orientation1, $color1 0%, $color2 55%, $color3 100%);
  background: -webkit-linear-gradient($orientation1, $color1 0%, $color2 55%, $color3 100%);
  background: linear-gradient(to $orientation2, $color1 0%,$color2 55%, $color3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color1', endColorstr='$color2',GradientType=0 );
}

@mixin filter($value) {
  -webkit-filter: opacity($value); /* Webkit */
  filter: opacity($value); /* IE6-9 */
  filter: opacity($value); /* W3C */
}

/* Mobile First */
a{
  margin: 0px 15px 20px;
  height: 80%;
  text-decoration: none;
  img{
    @include filter(0.6);
    height: 100%;
    transition: 0.3s;
  }
  img:hover{
    filter: none;
    transition: 0.3s;
  }
}

p{
  font-family: 'work-sans', sans-serif;
  font-variant: small-caps;
}

header, footer{
  @include gradient((lighten($dark3, 15%)), (lighten($dark2, 15%)), (lighten($dark, 15%)), left, right);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: $header-height;
  .button{
    height: 45px;
    width: 45px;
  }
  p{
    margin: 15px;
    color: white;
    font-size: 1em;
    text-decoration: none;
  }
  .button{
    height: 40%;
    padding: 0;
    margin-left: 35px;
    cursor: pointer;
  }
}

header{
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 3;
  align-items: center;
  border-bottom: 18px solid transparent;
  a{
    font-family: 'work-sans', sans-serif;
    color: white;
    margin: 10px;
    text-transform: uppercase;
  }
  nav{
    background-color: white;
    transform: skewX(-35deg);
    border-radius: 0px 0px 0px 10px;
    margin-right: -25%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    :last-child{
      margin-right: 28%;
    }
  }
  nav a {
    background-color: (lighten($dark2, 15%));
    color: white;
    transform: skewX(35deg);
    box-sizing: content-box;
    border: 4px solid (lighten($dark2, 15%));
    border-radius: 3px;
    padding: 2px;
    width: 19%;
    height: 40%;
    font-size: 1.4em;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    transition: 0.4s;
  }
  nav a:hover{
    background-color: white;
    color: (lighten($dark2, 15%));
    transition: 0.2s;
  }
}

div{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  height: 1500px;
  padding: 8%;
  h1{
    font-size: 4em;
    font-variant: small-caps;
    font-family: 'Rubik', sans-serif;
  }
  h2{
    z-index: 2;
    color: $dark;
    font-size: 3em;
    font-variant: small-caps;
    font-family: 'Rubik', sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  h4, h5{
    color: $text-color;
    font-size: 2em;
    font-variant: small-caps;
    font-style: italic;
    font-family: 'Rubik', sans-serif;
  }
  h5{
    font-size: 1.2em;
    color: (lighten($text-color, 25%));
  }
  p{
    margin: auto;
    max-width: 500px;
    font-size: 1.8em;
    color: $text-color;
    line-height: 1.4em;
    margin-bottom: 28px;
  }
}

#about{
  margin-top: $header-height;
}

#projects{
  height: 3500px;
}

.intro{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 45%;
  .avatar{
    height: 95%;
  }
}

.social-wrap{
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

.project-wrap{
  display: flex;
  flex-direction: column;
  height: 90%;
  width: 100%;
  .project{
    background-color: white;
    width: 750px;
    height: 750px;
    margin: auto;
    h2{
      width: 80%;
      border-bottom: 2px solid lighten($text-color, 30%);
      border-radius: 2px;
      margin-bottom: 15px;
    }
    a.project-info{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0;
      background: transparent;
      padding: 30px;
      height: 100%;
      width: 100%;
      box-sizing: border-box;
      bottom: 0;
      img{
        filter: none;
      }
      p{
        margin: 0;
      }
    }
    .project-icon{
      height: 50%;
    }
  }
}

.skill-wrap{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 90%;
  .skill-list{
    height: 90%;
    width: 85%;
    background-color: white;
  }
}

.pale{
  @include gradient($pale, $pale2, $pale3, top, bottom);
  h1{
    color: $dark;
  }
}

.dark{
  @include gradient($dark, $dark2, $dark3, top, bottom);
  h1{
    color: $pale;
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  header{
    nav a{
      margin-top: 8px;
      max-width: 300px;
    }
    .button{
      height: 60%;
    }
  }

  .project-wrap{
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 90%;
    .project{
      margin: auto;
      margin-top: 20px;
      width: 540px;
      height: 540px;
    }
  }

  div{
    max-height: 1200px;
    .avatar{
      height: 20%;
    }
    p{
      font-size: 1.5em;
    }
  }

  #projects{
    height: auto;
    max-height: 2400px;
  }

  #about{
    height: 140vh;
    .intro{
      height: 32%;
    }
  }
}
