/* Variables */
/* Mixin */
/* Mobile First */
a {
  margin: 0px 15px 20px;
  height: 80%;
  text-decoration: none; }
  a img {
    -webkit-filter: opacity(0.6);
    /* Webkit */
    filter: opacity(0.6);
    /* IE6-9 */
    filter: opacity(0.6);
    /* W3C */
    height: 100%;
    transition: 0.3s; }
  a img:hover {
    filter: none;
    transition: 0.3s; }

header, footer {
  background: #66b7cb;
  background: -moz-linear-gradient(left, #66b7cb 0%, #63adca 55%, #538cc6 100%);
  background: -webkit-linear-gradient(left, #66b7cb 0%, #63adca 55%, #538cc6 100%);
  background: linear-gradient(to right, #66b7cb 0%, #63adca 55%, #538cc6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color1', endColorstr='$color2',GradientType=0 );
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 10vh; }
  header .button, footer .button {
    height: 45px;
    width: 45px; }
  header p, footer p {
    margin: 15px;
    color: white;
    font-size: 1em;
    font-variant: small-caps;
    font-family: 'work-sans', sans-serif;
    text-decoration: none; }
  header .button, footer .button {
    height: 40%;
    padding: 0;
    margin-left: 35px;
    cursor: pointer; }

header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 3;
  align-items: center;
  border-bottom: 18px solid transparent; }
  header a {
    font-family: 'work-sans', sans-serif;
    color: white;
    margin: 15px;
    text-transform: uppercase; }
  header nav {
    background-color: white;
    transform: skewX(-55deg);
    margin-right: -25%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center; }
    header nav :last-child {
      margin-right: 28%; }
  header nav a {
    background-color: #63adca;
    color: white;
    transform: skewX(55deg);
    box-sizing: content-box;
    border: 4px solid #63adca;
    border-radius: 3px;
    padding: 2px;
    width: 15%;
    height: 40%;
    font-size: 1.5em;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    transition: 0.4s; }
  header nav a:hover {
    background-color: white;
    color: #63adca;
    transition: 0.2s; }

div {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  height: 3500px;
  padding: 8%; }
  div h1 {
    font-size: 4em;
    font-variant: small-caps;
    font-family: 'Rubik', sans-serif; }
  div h2 {
    color: #336699;
    font-size: 3em;
    font-variant: small-caps;
    font-family: 'Rubik', sans-serif;
    padding-top: 20px;
    padding-bottom: 20px; }
  div h4, div h5 {
    color: #3a3d3f;
    font-size: 2em;
    font-variant: small-caps;
    font-style: italic;
    font-family: 'Rubik', sans-serif; }
  div h5 {
    font-size: 1.2em;
    color: #777d81; }
  div p {
    margin: auto;
    max-width: 500px;
    font-size: 1.5em;
    font-variant: small-caps;
    color: #3a3d3f;
    font-family: 'work-sans', sans-serif;
    line-height: 1.2;
    margin-bottom: 18px; }

#about {
  margin-top: 10vh;
  max-height: 1200px; }

.intro {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 32%; }
  .intro .avatar {
    height: 95%; }

.social-wrap {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px; }

.skill-wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 90%; }
  .skill-wrap .skill-list {
    height: 45%;
    width: 85%;
    margin: auto;
    background-color: white; }

.project-wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 90%;
  width: 100%; }
  .project-wrap .project {
    background-color: white;
    width: 750px;
    height: 750px;
    margin: auto; }

.pale {
  background: #ccd9e6;
  background: -moz-linear-gradient(top, #ccd9e6 0%, #c6e0ff 55%, #a0ccff 100%);
  background: -webkit-linear-gradient(top, #ccd9e6 0%, #c6e0ff 55%, #a0ccff 100%);
  background: linear-gradient(to bottom, #ccd9e6 0%, #c6e0ff 55%, #a0ccff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color1', endColorstr='$color2',GradientType=0 ); }
  .pale h1 {
    color: #336699; }

.dark {
  background: #336699;
  background: -moz-linear-gradient(top, #336699 0%, #3988A8 55%, #3A94AA 100%);
  background: -webkit-linear-gradient(top, #336699 0%, #3988A8 55%, #3A94AA 100%);
  background: linear-gradient(to bottom, #336699 0%, #3988A8 55%, #3A94AA 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color1', endColorstr='$color2',GradientType=0 ); }
  .dark h1 {
    color: #ccd9e6; }

/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  header nav a {
    margin-top: 8px;
    height: 60%;
    max-width: 200px; }
  header .button {
    height: 60%; }

  .project-wrap {
    flex-wrap: wrap;
    width: 100%;
    height: 90%; }
    .project-wrap .project {
      margin: auto;
      width: 520px;
      height: 520px; }

  div {
    max-height: 1200px; }
    div .avatar {
      height: 20%; }

  .skill-wrap {
    flex-direction: row; }
    .skill-wrap .skill-list {
      width: 40%;
      height: 90%; }

  #about {
    height: 140vh; } }

/*# sourceMappingURL=main.css.map */
