a {
  margin: 0px 15px 20px;
  height: 80%;
  text-decoration: none; }
  a img {
    -webkit-filter: opacity(0.6);
    /* Webkit */
    filter: opacity(0.6);
    /* IE6-9 */
    filter: opacity(0.6);
    /* W3C */
    height: 100%;
    transition: 0.3s; }
  a img:hover {
    filter: none;
    transition: 0.3s; }

header, footer {
  background: #66b7cb;
  background: -moz-linear-gradient(left, #66b7cb 0%, #63adca 55%, #538cc6 100%);
  background: -webkit-linear-gradient(left, #66b7cb 0%, #63adca 55%, #538cc6 100%);
  background: linear-gradient(to right, #66b7cb 0%, #63adca 55%, #538cc6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color1', endColorstr='$color2',GradientType=0 );
  height: 12vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-end; }
  header p, footer p {
    margin: 15px;
    color: white;
    font-size: 1em;
    font-variant: small-caps;
    font-family: 'work-sans', sans-serif;
    text-decoration: none; }
  header .button, footer .button {
    height: 60px;
    width: 60px;
    padding: 0;
    margin-left: 35px;
    cursor: pointer; }

header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 3;
  align-items: center; }
  header a {
    font-family: 'work-sans', sans-serif;
    color: white;
    margin: 15px;
    text-transform: uppercase; }
  header nav {
    background-color: white;
    transform: skewX(-55deg);
    margin-right: -80px;
    width: 850px;
    max-width: 75%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center; }
    header nav :last-child {
      margin-right: 100px; }
  header nav a {
    background-color: #63adca;
    color: white;
    transform: skewX(55deg);
    box-sizing: content-box;
    border: 4px solid #63adca;
    border-radius: 3px;
    padding: 8px;
    margin-top: 25px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    vertical-align: middle;
    font-size: 1.3em;
    font-weight: bold;
    text-decoration: none;
    transition: 0.4s; }
  header nav a:hover {
    background-color: white;
    color: #63adca;
    transition: 0.2s; }

div {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  height: 125vh;
  max-height: 1400px;
  padding: 8%; }
  div h1 {
    font-size: 4em;
    font-variant: small-caps;
    font-family: 'Rubik', sans-serif; }
  div h2 {
    color: #336699;
    font-size: 3em;
    font-variant: small-caps;
    font-family: 'Rubik', sans-serif;
    padding-top: 50px;
    padding-bottom: 20px; }
  div h4, div h5 {
    color: #3a3d3f;
    font-size: 2em;
    font-variant: small-caps;
    font-style: italic;
    font-family: 'Rubik', sans-serif; }
  div h5 {
    font-size: 1.2em;
    color: #777d81; }
  div p {
    margin: auto;
    max-width: 500px;
    font-size: 1.5em;
    font-variant: small-caps;
    color: #3a3d3f;
    font-family: 'work-sans', sans-serif;
    line-height: 1.2;
    margin-bottom: 18px; }

.intro {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 32%; }

.social-wrap {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px; }

.project-wrap {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 90%; }
  .project-wrap .project {
    background-color: white;
    width: 40%;
    height: 45%;
    margin: auto; }

.skill-wrap {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 90%; }
  .skill-wrap .skill-list {
    width: 40%;
    height: 90%;
    margin: auto;
    background-color: white; }

.pale {
  background: #ccd9e6;
  background: -moz-linear-gradient(top, #ccd9e6 0%, #c6e0ff 55%, #a0ccff 100%);
  background: -webkit-linear-gradient(top, #ccd9e6 0%, #c6e0ff 55%, #a0ccff 100%);
  background: linear-gradient(to bottom, #ccd9e6 0%, #c6e0ff 55%, #a0ccff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color1', endColorstr='$color2',GradientType=0 ); }
  .pale h1 {
    color: #336699; }

.dark {
  background: #336699;
  background: -moz-linear-gradient(top, #336699 0%, #3988A8 55%, #3A94AA 100%);
  background: -webkit-linear-gradient(top, #336699 0%, #3988A8 55%, #3A94AA 100%);
  background: linear-gradient(to bottom, #336699 0%, #3988A8 55%, #3A94AA 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color1', endColorstr='$color2',GradientType=0 ); }
  .dark h1 {
    color: #ccd9e6; }

#about {
  margin-top: 12vh; }

@media screen and (max-width: 767px) {
  header, footer {
    height: 8vh; }
    header .button, footer .button {
      height: 45px;
      width: 45px; }

  header nav a {
    margin: 8px;
    padding: 2px;
    font-size: 1em; }

  #projects {
    height: 2000px;
    max-height: none; }

  #about {
    margin-top: 8vh; }

  #skills {
    height: 2000px;
    max-height: none; }

  .skill-wrap {
    flex-direction: column; }
    .skill-wrap .skill-list {
      height: 45%;
      width: 85%; }

  .project-wrap {
    flex-direction: column;
    flex-wrap: nowrap; }
    .project-wrap .project {
      width: 82%;
      height: 24%; } }

/*# sourceMappingURL=main.css.map */
