/* Variables */
/* Mixin */
/* General rules */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  color: white;
}
li {
  font-family: 'Roboto Slab', serif;
  color: white;
}

h3 {
  text-align: center;
  font-size: 3.5em;
  padding-bottom: 0.3em;
}

p,
a {
  color: white;
  line-height: 1.4em;
  font-size: 2.1em;
  font-family: 'Roboto Slab', serif;
}
/* Mobile First */
body {
  background-color: #33506e;
}

div {}

.hero {
  width: 100%;
  height: 35vh;
  background-image: url("audience-band-blur-mod.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;

  .logo {
    padding: 10px;
    top: 35%;
    position: relative;
    width: 80%;
    margin-left: 10%;
    border: 10px solid white;
    transform: skewX(-35deg);
  }

  h1 {
    box-sizing: content-box;
    font-size: 6em;
    transform: skewX(35deg);
  }
}

.tour {
  margin-top: 20%;
  padding-bottom: 20%;
  width: 100%;
  text-align: center;

  h2 {
    font-size: 4.5em;
    padding-bottom: 1.5em;
  }

  .tour-info {
    width: 94%;
    margin-left: 3%;

    .list-header {
      padding-bottom: 1.5em;
      font-size: 1.5em;
    }

    ul {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      padding-bottom: 2.5em;

      li {
        margin: auto;
        width: 33%;
        font-size: 2.5em;
        line-height: 1.4em;
      }
    }
  }
}

.bio {
  padding-top: 20%;
  padding-bottom: 2%;
  background-color: white;

  .member {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 15%;
    width: 80%;
    height: auto;
    background-color: #33506e;

    h3 {
      margin: 0;
      padding-top: 0.5em;
      padding-right: 13vh;
    }

    p {
      padding-left: 2em;
      padding-right: 13vh;
      margin-bottom: 1em;
    }

    .portrait {
      transition: 0.3s;
      position: absolute;
      float: right;
      right: -8vh;
      top: -3.5vh;
      height: 19vh;
      width: 19vh;
      border: 10px solid #596f87;
      border-radius: 50%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      &:hover {
        transition: 0.3s;
        transform: translateY(-35px);
      }
    }
  }

  :nth-child(even) {
    margin-left: 20%;

    .portrait {
      float: left;
      left: -8vh;
    }

    p {
      text-align: right;
      padding-left: 13vh;
      padding-right: 2em;
    }

    h3 {
      padding-left: 13vh;
      padding-right: 0;
    }
  }

  .man-guitar {
    background-image: url("man-guitar.jpg");
  }

  .girl-guitar {
    background-image: url("girl-guitar.jpg");
  }

  .drummer {
    background-image: url("drummer.jpg");
  }
}

.history {
  display: flex;
  flex-direction: column;
  padding-bottom: 10%;
  h3 {
      padding-top: 5%;
  }
  .text {
    padding: 1.5em 2em;
    p {
      text-align: center;
    }
  }
}

.links {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  a {
    width: 50%;
    font-size: 3.5em;
    padding-bottom: 8%;

  }
  h3 {
    width: 100%;
    padding-bottom: 10%;
  }
}
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

  h3 {
    font-size: 2.8em;
  }

  p{
    font-size: 1.5em;
  }

  .hero {
    height: 85vh;
    .logo {
      width: 54%;
      margin-left: 23%;
    }
  }

  .tour {
    margin-top: 15%;
    padding-bottom: 10%;
    .tour-info {
      width: 70%;
      margin-left: 15%;
      ul {
        li {
          font-size: 1.8em;
        }
      }
    }
  }

  .bio {
    padding-top: 12%;

    .member {
      min-height: 40vh;
      width: 60%;
      margin-bottom: 12%;

      h3 {
        padding-right: 28vh;
        padding-bottom: 0.8em;
      }

      p {
        padding-left: 2em;
        padding-right: 28vh;
      }

      .portrait {
        right: -15vh;
        top: -8vh;
        height: 40vh;
        width: 40vh;
      }
    }

    :nth-child(even) {
      margin-left: 40%;

      p {
        padding-left: 28vh;
        padding-right: 2em;
      }

      h3 {
        padding-left: 28vh;
        padding-right: 0;
      }

      .portrait {
        float: left;
        left: -15vh;
      }
    }
  }

  .history {
    flex-direction: row;
    justify-content: space-around;
    .text {
      width: 33%;
    }
  }
}
