/* Variables */
/* Mixin */
/* Reset progress */
progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
  appearance: none; }

/* General Rules */
h1, h2, h3, h4, h5, h6 {
  color: #336699;
  font-variant: small-caps;
  font-family: 'Rubik', sans-serif; }

h4, h5 {
  color: #3a3d3f;
  font-size: 3em;
  font-style: italic; }

header {
  margin: 18px;
  border-radius: 50%;
  position: fixed; }
  header a {
    transition: 0.3s;
    text-align: center;
    height: 50%;
    width: 100%;
    margin: 0;
    position: absolute;
    font-size: 5em;
    color: rgba(58, 61, 63, 0.5);
    text-decoration: underline; }
    header a:hover {
      transition: 0.2s;
      color: #3a3d3f; }

footer {
  background: #66b7cb;
  background: -moz-linear-gradient(left, #66b7cb 0%, #63adca 55%, #538cc6 100%);
  background: -webkit-linear-gradient(left, #66b7cb 0%, #63adca 55%, #538cc6 100%);
  background: linear-gradient(to right, #66b7cb 0%, #63adca 55%, #538cc6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color1', endColorstr='$color2',GradientType=0 );
  justify-content: space-between;
  align-items: flex-end;
  height: 5vh; }

a {
  margin: 0px 15px 20px;
  height: 100%;
  text-decoration: none; }
  a img {
    -webkit-filter: opacity(0.6);
    /* Webkit */
    filter: opacity(0.6);
    /* IE6-9 */
    filter: opacity(0.6);
    /* W3C */
    height: 100%;
    transition: 0.3s; }
  a img:hover {
    filter: none;
    transition: 0.3s; }

p, li {
  color: #3a3d3f;
  font-family: 'Open Sans', sans-serif; }

.pale {
  background: #ccd9e6;
  background: -moz-linear-gradient(top, #ccd9e6 0%, #c6e0ff 55%, #a0ccff 100%);
  background: -webkit-linear-gradient(top, #ccd9e6 0%, #c6e0ff 55%, #a0ccff 100%);
  background: linear-gradient(to bottom, #ccd9e6 0%, #c6e0ff 55%, #a0ccff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color1', endColorstr='$color2',GradientType=0 ); }
  .pale h1 {
    color: #336699; }

.dark {
  background: #336699;
  background: -moz-linear-gradient(top, #336699 0%, #3988A8 55%, #3A94AA 100%);
  background: -webkit-linear-gradient(top, #336699 0%, #3988A8 55%, #3A94AA 100%);
  background: linear-gradient(to bottom, #336699 0%, #3988A8 55%, #3A94AA 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color1', endColorstr='$color2',GradientType=0 ); }
  .dark h1 {
    color: #ccd9e6; }

section {
  max-width: 100%; }

/* Mobile First */
footer {
  display: flex; }
  footer p {
    margin: 15px;
    color: white;
    font-size: 1em; }
  footer .button {
    height: 40%;
    padding: 0;
    margin-left: 35px;
    cursor: pointer; }

div {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  height: 95vh;
  padding: 5%; }
  div h1 {
    font-size: 8em; }
  div h2 {
    z-index: 2;
    font-size: 5em;
    padding-top: 20px;
    padding-bottom: 20px; }
  div h5 {
    font-size: 1.2em;
    color: #777d81; }
  div p {
    margin: auto;
    font-size: 3em;
    line-height: 1.4em;
    margin-bottom: 28px; }

#about h1 {
  padding: 0 0 30px 0px; }

#projects {
  height: auto; }

#skills {
  height: 65vh; }

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 45%; }
  .intro .avatar {
    height: 100%; }

.social-wrap {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px; }

.project-wrap {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%; }
  .project-wrap .project {
    transition: 0.2s;
    border-radius: 15px;
    box-shadow: 3px 5px 15px #3a3d3f;
    margin: 0;
    margin-top: 100px;
    background-color: white;
    width: 100%;
    height: auto; }
    .project-wrap .project:hover {
      transition: 0.3s;
      transform: scale(1.1); }
    .project-wrap .project p {
      padding: 20px; }
    .project-wrap .project .card-top {
      display: grid;
      width: 100%;
      grid-template-columns: 50% 50%;
      grid-template-rows: 80% 20%;
      height: 35vh; }
      .project-wrap .project .card-top h2 {
        grid-row: 2;
        grid-column: 1 / span 2;
        padding: 0; }
      .project-wrap .project .card-top img {
        height: 75%;
        filter: opacity(1); }
      .project-wrap .project .card-top .phone-screenshot {
        background-color: #3a3d3f;
        grid-column: 2;
        grid-row: 1;
        border-radius: 20px;
        border: 8px solid #3a3d3f;
        margin-top: 24.5%;
        margin-left: 32.2%;
        height: 68%;
        width: auto; }
      .project-wrap .project .card-top .desktop-screenshot {
        background-color: #3a3d3f;
        border-radius: 20px;
        border: 8px solid #3a3d3f;
        margin-top: 13%;
        margin-left: 35.5%;
        width: auto;
        height: 60%;
        grid-column: 1;
        grid-row: 1; }

.skill-wrap ol {
  text-align: left;
  font-size: 4em;
  list-style: none;
  line-height: 160%; }
.skill-wrap progress[value]::-webkit-progress-bar {
  background-color: #999;
  border-radius: 10px;
  box-shadow: 3px 3px 15px #3a3d3f; }
.skill-wrap progress[value]::-webkit-progress-value {
  background: #336699;
  background: -moz-linear-gradient(right, #336699 0%, #3988A8 55%, #3A94AA 100%);
  background: -webkit-linear-gradient(right, #336699 0%, #3988A8 55%, #3A94AA 100%);
  background: linear-gradient(to left, #336699 0%, #3988A8 55%, #3A94AA 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color1', endColorstr='$color2',GradientType=0 );
  border-radius: 10px; }

/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  header a {
    font-size: 3em; }

  .project-wrap {
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 90%;
    margin-top: 100px; }
    .project-wrap .project {
      margin: auto;
      width: 35%;
      height: 700px; }
      .project-wrap .project .card-top {
        height: 60%; }
        .project-wrap .project .card-top h2 {
          padding-top: 0; }
        .project-wrap .project .card-top .desktop {
          margin-left: 15%; }
        .project-wrap .project .card-top .desktop-screenshot {
          margin-left: 20%; }
        .project-wrap .project .card-top .phone {
          margin-left: 32%; }
        .project-wrap .project .card-top .phone-screenshot {
          margin-left: 35%;
          margin-top: 25%;
          height: 68%; }

  div {
    padding: 10%; }
    div .avatar {
      height: 20%; }
    div p {
      font-size: 1.5em; }
    div h1 {
      font-size: 6em; }
    div h2 {
      font-size: 3em; }

  #projects {
    height: auto;
    max-height: 2400px; }

  #about {
    height: 140vh;
    max-height: 1200px; }
    #about .presentation p {
      width: 40%; }

  #skills {
    height: auto; }

  .skill-wrap ol {
    font-size: 2.5em;
    margin: 50px 0px; } }

/*# sourceMappingURL=portfolio.css.map */
